<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />

</head>
<body>
    

    <div class="login-box">
        <h2>Chenge password</h2>
        <form action="/chengpasword" method="post">
          
            <div class="user-box">
                <input type="password" name="newPassword" required="">
                <label>New Password</label>
            </div>
            <div class="user-box">
              <input type="password" name="confirmPassword" required="">
              <label>conform password</label>
            </div>
          <input type="submit">
         
         
        </form>
      </div>
</body>
</html>