<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />

</head>
<body>
       
    <div class="login-box">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="user-box">
              <input type="text" name="email" required="">
              <label>Email</label>
          </div>
          <div class="user-box">
              <input type="password" name="password" required="">
              <label>Password</label>
          </div>
          <button type="submit" class="submitbtn">
              
              Submit
          </button>
          <p  class="ptag" style="color: aliceblue;">Do not  you haven't an account?<a href="/sigup" class="btnsubmit">register account</a></p>
          <p  class="ptag" style="color: aliceblue;"><a href="/forgetpass">forget your password</a></p>
      </form>
      </div>
</body>
</html>