<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />

</head>
<body>
       
    <div class="login-box">
        <h2>Enter otp</h2>
        <form action="/otpp" method="post">
          <div class="user-box">
              <input type="number" name="otp" >
              <label>otp</label>
          </div>
          <button type="submit" class="submitbtn">
              send
          </button>
      </form>
      </div>
</body>
</html>