<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />

</head>
<body>
    

    <div class="login-box">
        <h2>Signup </h2>
        <form action="/signupform" method="post">
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="email" name="email" required="">
            <label>email</label>
          </div>
          <div class="user-box">
            <input type="password" name="confompassword" required="">
            <label>conform password</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <input type="submit">
          <p  class="ptag" style="color: aliceblue;">Do you haven an account?<a href="/login" class="btnsubmit">login</a></p>
         
        </form>
      </div>
</body>
</html>