<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav1">
          <i class="ri-menu-3-line" id="navi1"></i>
        </div>
        <div class="nav2">
          <div class="n2" id="t2">
            <div class="n222">
              <p>Choose one</p>
              <i class="ri-arrow-down-s-fill" id="t4"></i>
            </div>
  
            <div class="n22" id="t3">
              <p>IT Projects</p>
              <p>Business Case</p>
              <p>Microsoft Project</p>
              <p>Risk Management</p>
              <p>Team building</p>
            </div>
          </div>
  
          <input type="text" id="" placeholder="Search for anything..." />
          <button><i class="ri-search-line"></i></button>
        </div>
  
        <div class="nav3">
          <i class="ri-sun-line" id="sun"></i>
          <img src="flag.jpg" alt="" />
          <i class="ri-drag-move-line"></i>
          <i class="ri-notification-3-line"></i>
          <i class="ri-message-line"></i>
          <a href="/profile">
            <img id="th" src="5.jpg" alt="">
          </a>
          <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
          <i class="ri-menu-3-line"></i>
          <i class="fa-solid fa-gear fa-spin" style="color: #ffffff;"></i>
        </div>
      </div>

</body>
</html>