<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="side">
        <div class="logo">
          <img src="logo-light.png" alt="" />
        </div>
        <div class="s1">
          <h1><a href="/"  style="text-decoration: none; color: rgb(110, 110, 123);">DASHBOARD</a></h1>
          <div class="s11">
            <div class="s111">
              <i class="ri-home-4-line"></i>
              <p><a href="/"  style="text-decoration: none; color: rgb(110, 110, 123);">DASHBOARD</a></p>
            </div>
            <i class="ri-arrow-right-s-line" id="this1"></i>
          </div>
          <h1>Blogs</h1>
          <div class="down">
            <div class="d1">
              <i class="ri-arrow-right-s-fill"></i>
              <p><a href="/"  style="text-decoration: none; color: rgb(110, 110, 123);">DASHBOARD</a></p>
            </div>
           
          </div>
  
          <div class="s12">
            <div class="s111">
              <i class="ri-article-line"></i>
              <p>Blogs</p>
            </div>
            <i class="ri-arrow-right-s-line" id="this2"></i>
          </div>
  
          <div class="down2">
            <div class="d1">
              <i class="ri-arrow-right-s-fill"></i>
              <p><a href="/Add_blogs"  style="text-decoration: none; color: rgb(110, 110, 123);">Add Blogs</a></p>
            </div>
            <div class="d1">
              <i class="ri-arrow-right-s-fill"></i>
              <p><a href="/viewdata"  style="text-decoration: none; color: rgb(110, 110, 123);">view blog</a></p>
            </div>
            <div class="d1">
              <i class="ri-arrow-right-s-fill"></i>
              <p><a href="" style="text-decoration: none; color: rgb(110, 110, 123);">All blogs</a></p>
            </div>
            <div class="d1">
              <i class="ri-arrow-right-s-fill"></i>
              <p><a href="/type" style="text-decoration: none; color: rgb(110, 110, 123);">Add blog type</a></p>
            </div>
          </div>
         
        </div>

         
  
     
        </div>
      </div>
</body>
</html>