<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="side2">
        <div class="side2logo">
          <img src="icon.png" />
        </div>
        <i class="ri-home-4-line"></i>
        <i class="ri-store-line"></i>
        <i class="ri-building-2-line"></i>
        <i class="ri-award-line"></i>
        <i class="ri-terminal-window-fill"></i>
        <i class="ri-database-2-line"></i>
        <i class="ri-base-station-line"></i>
        <i class="ri-attachment-2"></i>
        <i class="ri-refund-line"></i>
        <i class="ri-anchor-line"></i>
        <i class="ri-landscape-line"></i>
        <i class="ri-speed-up-fill"></i>
      </div>
</body>
</html>